@font-face
  font-family: "SFProDisplay-Semibold"
  src: url("../../Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format("truetype")

.MuiBottomNavigationAction-root.Mui-selected
  color: black !important
  font-size: 16px
  width: 134px
  height: 48px
  background: white
  border-radius: 8px
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16)

.MuiBottomNavigation-root
  background-color: #f6f6f6 !important
