#video:before
  content: ""
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), black)
  z-index: 1000




