#phone:before
  content: ""
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 60%
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.88), #ffff)
  z-index: 1000

@font-face
  font-family: "WhyteInktrap-Regular"
  src: url("../../Fonts/Whyteink/WhyteInktrap-Regular.ttf") format("truetype")

@font-face
  font-family: "Hanalei-Regular"
  src: url("../../Fonts/Hanalei/Hanalei-Regular.ttf") format("truetype")
