@font-face {
  font-family: "Source Sans Pro";
  src: url("../../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AktivGrotesk-Medium";
  src: url("../../Fonts/AktivGroteskCorp-Medium/AktivGroteskCorp-Medium.ttf") format("truetype");
}

/*# sourceMappingURL=style.css.map */
